@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	font-family: "Monaspace Neon", "Courier New", Courier, monospace, sans-serif;
}
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
.light {
	--background: 220 23.076923191547394% 94.90196108818054%;
	/* base */
	--foreground: 234 16.022099554538727% 35.49019694328308%;
	/* text */
	--muted: 223 15.909090638160706% 82.74509906768799%;
	/* surface0 */
	--muted-foreground: 233 12.796208262443542% 41.372549533843994%;
	/* subtext1 */
	--popover: 220 23.076923191547394% 94.90196108818054%;
	/* base */
	--popover-foreground: 234 16.022099554538727% 35.49019694328308%;
	/* text */
	--card: 220 23.076923191547394% 94.90196108818054%;
	/* base */
	--card-foreground: 234 16.022099554538727% 35.49019694328308%;
	/* text */
	--border: 225 13.55932205915451% 76.86274647712708%;
	/* surface1 */
	--input: 225 13.55932205915451% 76.86274647712708%;
	/* surface1 */
	--primary: 220 91.4893627166748% 53.921568393707275%;
	/* accent - Blue */
	--primary-foreground: 220 23.076923191547394% 94.90196108818054%;
	/* base */
	--secondary: 223 15.909090638160706% 82.74509906768799%;
	/* surface0 */
	--secondary-foreground: 234 16.022099554538727% 35.49019694328308%;
	/* text */
	--accent: 223 15.909090638160706% 82.74509906768799%;
	/* surface0 */
	--accent-foreground: 234 16.022099554538727% 35.49019694328308%;
	/* text */
	--destructive: 347 86.66666746139526% 44.11764740943909%;
	/* red */
	--destructive-foreground: 220 21.95121943950653% 91.96078181266785%;
	/* mantle */
	--ring: 234 16.022099554538727% 35.49019694328308%;
	/* text */
	--radius: 0.5rem;
	--chart-1: 347 86.66666746139526% 44.11764740943909%;
	/* red */
	--chart-2: 183 73.86363744735718% 34.50980484485626%;
	/* teal */
	--chart-3: 220 91.4893627166748% 53.921568393707275%;
	/* blue */
	--chart-4: 35 76.98412537574768% 49.41176474094391%;
	/* yellow */
	--chart-5: 109 57.63546824455261% 39.803922176361084%;
	/* green */
}
.dark {
	--background: 240 21.052631735801697% 14.901961386203766%;
	/* base */
	--foreground: 226 63.93442749977112% 88.03921341896057%;
	/* text */
	--muted: 237 16.239316761493683% 22.94117659330368%;
	/* surface0 */
	--muted-foreground: 227 35.29411852359772% 80.0000011920929%;
	/* subtext1 */
	--popover: 240 21.052631735801697% 14.901961386203766%;
	/* base */
	--popover-foreground: 226 63.93442749977112% 88.03921341896057%;
	/* text */
	--card: 240 21.052631735801697% 14.901961386203766%;
	/* base */
	--card-foreground: 226 63.93442749977112% 88.03921341896057%;
	/* text */
	--border: 234 13.20754736661911% 31.176471710205078%;
	/* surface1 */
	--input: 234 13.20754736661911% 31.176471710205078%;
	/* surface1 */
	--primary: 217 91.86992049217224% 75.88235139846802%;
	/* accent - Blue */
	--primary-foreground: 240 21.052631735801697% 14.901961386203766%;
	/* base */
	--secondary: 237 16.239316761493683% 22.94117659330368%;
	/* surface0 */
	--secondary-foreground: 226 63.93442749977112% 88.03921341896057%;
	/* text */
	--accent: 237 16.239316761493683% 22.94117659330368%;
	/* surface0 */
	--accent-foreground: 226 63.93442749977112% 88.03921341896057%;
	/* text */
	--destructive: 343 81.25% 74.90196228027344%;
	/* red */
	--destructive-foreground: 240 21.311475336551666% 11.96078434586525%;
	/* mantle */
	--ring: 226 63.93442749977112% 88.03921341896057%;
	/* text */
	--radius: 0.5rem;
	--chart-1: 343 81.25% 74.90196228027344%;
	/* red */
	--chart-2: 170 57.35294222831726% 73.33333492279053%;
	/* teal */
	--chart-3: 217 91.86992049217224% 75.88235139846802%;
	/* blue */
	--chart-4: 41 86.04651093482971% 83.13725590705872%;
	/* yellow */
	--chart-5: 115 54.09836173057556% 76.07843279838562%;
	/* green */
}
.system {
	@media (prefers-color-scheme: light) {
		--background: 220 23.076923191547394% 94.90196108818054%;
		/* base */
		--foreground: 234 16.022099554538727% 35.49019694328308%;
		/* text */
		--muted: 223 15.909090638160706% 82.74509906768799%;
		/* surface0 */
		--muted-foreground: 233 12.796208262443542% 41.372549533843994%;
		/* subtext1 */
		--popover: 220 23.076923191547394% 94.90196108818054%;
		/* base */
		--popover-foreground: 234 16.022099554538727% 35.49019694328308%;
		/* text */
		--card: 220 23.076923191547394% 94.90196108818054%;
		/* base */
		--card-foreground: 234 16.022099554538727% 35.49019694328308%;
		/* text */
		--border: 225 13.55932205915451% 76.86274647712708%;
		/* surface1 */
		--input: 225 13.55932205915451% 76.86274647712708%;
		/* surface1 */
		--primary: 220 91.4893627166748% 53.921568393707275%;
		/* accent - Blue */
		--primary-foreground: 220 23.076923191547394% 94.90196108818054%;
		/* base */
		--secondary: 223 15.909090638160706% 82.74509906768799%;
		/* surface0 */
		--secondary-foreground: 234 16.022099554538727% 35.49019694328308%;
		/* text */
		--accent: 223 15.909090638160706% 82.74509906768799%;
		/* surface0 */
		--accent-foreground: 234 16.022099554538727% 35.49019694328308%;
		/* text */
		--destructive: 347 86.66666746139526% 44.11764740943909%;
		/* red */
		--destructive-foreground: 220 21.95121943950653% 91.96078181266785%;
		/* mantle */
		--ring: 234 16.022099554538727% 35.49019694328308%;
		/* text */
		--radius: 0.5rem;
		--chart-1: 347 86.66666746139526% 44.11764740943909%;
		/* red */
		--chart-2: 183 73.86363744735718% 34.50980484485626%;
		/* teal */
		--chart-3: 220 91.4893627166748% 53.921568393707275%;
		/* blue */
		--chart-4: 35 76.98412537574768% 49.41176474094391%;
		/* yellow */
		--chart-5: 109 57.63546824455261% 39.803922176361084%;
		/* green */
	}
	@media (prefers-color-scheme: dark) {
		--background: 240 21.052631735801697% 14.901961386203766%;
		/* base */
		--foreground: 226 63.93442749977112% 88.03921341896057%;
		/* text */
		--muted: 237 16.239316761493683% 22.94117659330368%;
		/* surface0 */
		--muted-foreground: 227 35.29411852359772% 80.0000011920929%;
		/* subtext1 */
		--popover: 240 21.052631735801697% 14.901961386203766%;
		/* base */
		--popover-foreground: 226 63.93442749977112% 88.03921341896057%;
		/* text */
		--card: 240 21.052631735801697% 14.901961386203766%;
		/* base */
		--card-foreground: 226 63.93442749977112% 88.03921341896057%;
		/* text */
		--border: 234 13.20754736661911% 31.176471710205078%;
		/* surface1 */
		--input: 234 13.20754736661911% 31.176471710205078%;
		/* surface1 */
		--primary: 217 91.86992049217224% 75.88235139846802%;
		/* accent - Blue */
		--primary-foreground: 240 21.052631735801697% 14.901961386203766%;
		/* base */
		--secondary: 237 16.239316761493683% 22.94117659330368%;
		/* surface0 */
		--secondary-foreground: 226 63.93442749977112% 88.03921341896057%;
		/* text */
		--accent: 237 16.239316761493683% 22.94117659330368%;
		/* surface0 */
		--accent-foreground: 226 63.93442749977112% 88.03921341896057%;
		/* text */
		--destructive: 343 81.25% 74.90196228027344%;
		/* red */
		--destructive-foreground: 240 21.311475336551666% 11.96078434586525%;
		/* mantle */
		--ring: 226 63.93442749977112% 88.03921341896057%;
		/* text */
		--radius: 0.5rem;
		--chart-1: 343 81.25% 74.90196228027344%;
		/* red */
		--chart-2: 170 57.35294222831726% 73.33333492279053%;
		/* teal */
		--chart-3: 217 91.86992049217224% 75.88235139846802%;
		/* blue */
		--chart-4: 41 86.04651093482971% 83.13725590705872%;
		/* yellow */
		--chart-5: 115 54.09836173057556% 76.07843279838562%;
		/* green */
	}
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	:root {
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}
.bsky-react-post-theme {
	--post-container-margin: 0;
	/* Header */
	--post-header-font-size: 0.9375rem;
	--post-header-line-height: 1.25rem;
	/* Text */
	--post-body-font-size: 1.25rem;
	--post-body-font-weight: 400;
	--post-body-line-height: 1.5rem;
	--post-body-margin: 0;
	/* Quoted Post */
	--post-quoted-container-margin: 0.75rem 0;
	--post-quoted-body-font-size: 0.938rem;
	--post-quoted-body-font-weight: 400;
	--post-quoted-body-line-height: 1.25rem;
	--post-quoted-body-margin: 0.25rem 0 0.75rem 0;
	/* Info */
	--post-info-font-size: 0.9375rem;
	--post-info-line-height: 1.25rem;
	/* Actions like the like, reply and copy buttons */
	--post-actions-font-size: 0.875rem;
	--post-actions-line-height: 1rem;
	--post-actions-font-weight: 700;
	--post-actions-icon-size: 1.25em;
	--post-actions-icon-wrapper-size: calc(
		var(--post-actions-icon-size) + 0.75em
	);
	/* Reply button */
	--post-replies-font-size: 0.875rem;
	--post-replies-line-height: 1rem;
	--post-replies-font-weight: 700;
}
:where(.bsky-react-post-theme) * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:is([data-theme="light"], .light) :where(.bsky-react-post-theme),
:where(.bsky-react-post-theme) {
	--post-skeleton-bg: rgb(212, 212, 216);
	--post-border: 1px solid rgb(212, 219, 226);
	--post-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
	--post-font-color: rgb(15, 20, 25);
	--post-font-color-secondary: rgb(66, 87, 108);
	--post-bg-color: #fff;
	--post-bg-color-hover: rgba(241, 243, 245, 0.5);
	--post-color-blue-primary: rgb(10, 122, 255);
	--post-color-blue-primary-hover: rgb(26, 140, 216);
	--post-link-font-color: rgb(59 130 246);
}
:is([data-theme="dark"], .dark) :where(.bsky-react-post-theme) {
	--post-skeleton-bg: rgb(63, 63, 70);
	--post-border: 1px solid rgb(46, 64, 82);
	--post-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
	--post-font-color: rgb(247, 249, 249);
	--post-font-color-secondary: rgb(66, 87, 108);
	--post-bg-color: rgb(22, 30, 39);
	--post-bg-color-hover: rgba(30, 41, 54, 0.5);
	--post-color-blue-primary: rgb(10, 122, 255);
	--post-color-blue-primary-hover: rgb(26, 140, 216);
	--post-link-font-color: rgb(147 197 253);
}
@media (prefers-color-scheme: dark) {
	:where(.bsky-react-post-theme) {
		--post-skeleton-bg: rgb(63, 63, 70);
		--post-border: 1px solid rgb(46, 64, 82);
		--post-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
			Roboto, Helvetica, Arial, sans-serif;
		--post-font-color: rgb(247, 249, 249);
		--post-font-color-secondary: rgb(66, 87, 108);
		--post-bg-color: rgb(22, 30, 39);
		--post-bg-color-hover: rgba(30, 41, 54, 0.5);
		--post-color-blue-primary: rgb(10, 122, 255);
		--post-color-blue-primary-hover: rgb(26, 140, 216);
		--post-link-font-color: rgb(147 197 253);
	}
}

/*
.shiki {
	counter-reset: step;
	counter-increment: step 0;
	.line {
		&::before {
			counter-increment: step;
			@apply mr-6 inline-block w-4 border-transparent text-right text-blue content-[counter(step)];
		}
	}
}
*/

/* MDX */

/* Custom styles for dash lists and numbered lists */
.dash-list-item::before {
	content: "-";
	position: absolute;
	left: -1rem;
	padding-right: 8px;
}

.custom-number-item {
	position: relative;
	padding-left: 0.5rem;
}

.custom-number-item::before {
	content: attr(data-number) ".";
	position: absolute;
	left: -1.75rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
